<div class="container">
  <h1 class="text-center my-4">Library Application</h1>
  <form class="my-4" [formGroup]="bookForm">
    <div class="row">
      <div class="col-md-6">
        <div class="mb-3">
          <label for="txttitle" class="form-label">Book Title</label>
          <input type="text" class="form-control" id="txttitle" formControlName="title" placeholder="Title of Book">
        </div>
        <div class="mb-3">
          <label for="txtbookShortDescription" class="form-label">Book Short Description</label>
          <input type="text" class="form-control" id="txtbookShortDescription" formControlName="ShortDescription"
            placeholder="Book short description">
        </div>
        <div class="mb-3">
          <label for="txtbookAuthor" class="form-label">Book Author</label>
          <input type="text" class="form-control" id="txtbookAuthor" formControlName="Author" placeholder="Author">
        </div>
        <div class="mb-3">
          <label for="txtpublishDate" class="form-label">Publish Date</label>
          <input type="text" class="form-control" id="txtpublishDate" formControlName="PublishDate"
            placeholder="Publish Date">
        </div>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary" (click)="PostBook(bookForm.value)">
            <i class="fa-solid fa-check"></i> Submit
          </button>
          <button type="submit" class="btn btn-secondary" (click)="PatchBook(bookForm.value)">
            <i class="fa-solid fa-pencil"></i> Update
          </button>
          <button type="submit" class="btn btn-light" (click)="Clear(bookForm.value)">
            <i class="fa-solid fa-eraser"></i> Clear
          </button>
        </div>
      </div>
    </div>
  </form>

  <div class="alert alert-success text-center my-4"><b>Book List</b></div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Book Title</th>
          <th scope="col">Description</th>
          <th scope="col">Author</th>
          <th scope="col">Publish Date</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of BookList | async; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{book.title}}</td>
          <td>{{book.shortDescription}}</td>
          <td>{{book.author}}</td>
          <td>{{book.publishDate}}</td>
          <td>
            <button type="button" class="btn btn-sm btn-outline-secondary me-2" matTooltip="Edit"
              (click)="BookDetailsToEdit(book.id)">
              <i class="fa-solid fa-pencil"></i>
            </button>
            <button type="button" class="btn btn-sm btn-outline-danger" matTooltip="Delete"
              (click)="preventSubmit($event);DeleteBook(book.id)">
              <i class="fa-solid fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
